#root {
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 12%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: center;
}

html {
  background-color: darkblue;
}

h1, 
div{
  font-size: 3rem;
  font-weight: 700;
  color: aliceblue;
}

h2{
  font-size: 1.5rem;
  font-weight: 700;
}

p{
  font-size: 1rem;
  font-weight: 700;
}

button {
  background-color: lightskyblue;
  color: black;
  padding: 1.5rem 3rem;
  border-radius: 40px;
  border: none;
  font-size: 1.5rem;
}

ul,
ol{
  text-align: left;
  font-size: 1rem;
}

li{
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
}

span{
  font-size: 1.5rem;
  font-weight: 700;
  color: #198ecd;
}

a{
  text-decoration: none;
}

label{
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  line-height: 2rem;
  padding: 0.25rem;
}

input{
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  line-height: 2rem;
  border-width: 0.12rem;
  border-color: #000000;
  border-radius: 1rem;
}

.lista{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
}

.formulario{
  width: 25vw;
}

.campo{
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}

.link{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  line-height: 2rem;
  padding: 0.25rem;
}

.botao{
  background-color: #0c2771;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
}